.container {

  .divModificar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .avatarModificar {
      width: 200px;
      height: 200px;
      margin-bottom: 10px;

      .imagenModificar {
        width: 100%;
        height: 100%;
      }

    }
    .form {
      margin-top: 50px;

      .botonModificarDatos {
        margin-bottom: 20px;
        display: flex;
        margin-left: auto;
        margin-right: 0px;
      }
    }

    .botonMuestraComentarios {
      margin-bottom: 20px;
      display: flex;
      margin-left: auto;
      margin-right: auto;
    }
  }
}