.navbar {
  position: fixed;
  top: 0;
  height: 72px;
  width: 100%;
  border-radius: 0px;
  background: rgb(66,133,244);

  div {
    display: flex;
    align-items: center;
    height: 72px;

    .imagen {
      margin-left: 55px;
      height: 50px;
      width: 130px;
    }

    .link {
      color: white;
      margin-left: auto;
      margin-right: 18px;
      font-size: 20px;
    }

    .divSesionIniciada {
      margin-right: 0px;
      margin-left: auto;
      font-size: 20px;
      cursor: pointer;
      width: 200px;

      .divUsuario {
        display: inline-flex;
        flex-direction: row-reverse;
        margin-right: 8px;

        .avatar {
          height: 70%;
          width: 25%;
          margin-right: 10px;
        }
      }
    }
  }
}