$beepark: #0063a2;
$beepark-yellow: #ffcc00;
$beepark-gray: #607D8B;
$beepark-darkgray: #515961;
$beepark-black: #222;
$beepark-background: lighten($beepark-darkgray, 58%);

// grosor de sombra, donde empieza desde el top, difuminación, color
$shadow: 2px 0 7px rgba(0, 0, 0, .3);

$blue: #0063a2;