.container {
  padding: 20px;
  background: white;
  box-shadow: $shadow;
  border-radius: 30px;

  .div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo {
      font-size: 30px;
      text-align: center;
      margin-bottom: 20px;
    }

    .grid {

      div {


        .imagenJuego {
          float: left;
          width: 40%;
          margin: {
            right: 10px;
            bottom: 10px;
          }
        }

        .botonFavoritos {
          float: left;
        }
      }
    }
  }
}

.frame {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background: white;
  transform: translateZ(0);
}

//Elimina la raya del comentario
.comentario {
  width: 100%;

  div {
    border-radius: 4px;
    padding-top: 35px;

    &:hover::before {
      border: 0;
    }

    &::before {
      border: 0;
    }

    &::after {
      border: 0;
    }
  }
}

