.tableContainer {
  border-radius: 10px;
  box-shadow: $shadow;

  .tabla {

    .filaWebs {
      border-bottom: 2px solid grey;
      background: white;
      border-radius: 10px;

      .col1Webs {
        width: 20%;
        padding: 8px;

        .imageWebs {
          width: 100%;
          border-radius: 8px;
        }
      }

      .col2Webs {

        .tituloWebs {
          font-size: 20px;
          margin-bottom: 10px;
          margin-top: -8px;
        }
      }

      .col3Webs {

        .botonFavoritosWebs {
          padding: 0;

          .iconoFavoritos {
            color: red;
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}